html {
    background: lightgray;
    /* background-image: url(/full-bloom/full-bloom.png/); */
}

body {
    
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background:#ffffff;
    /*control what happen to the content that is too big to fit into the area*/ 
    overflow:auto;

    top: 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    border-bottom: 1px solid LightSkyBlue;
}

nav {
    width: 100%;
    margin: 0;
}

span {
    float: left;
    padding: 15px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    text-align: center;
    margin-left:355px;
}

ul {
    float: right;
    margin: 10px;
    justify-content: center;
    color: lightgrey;
}

li {
    float: left;

    /*Remove the bullet point*/
    list-style: none;

    padding: 5px;   
}

.rightborder {
    border-right: 2px solid gray;
}

section {
    background: #ffffff;
    margin: auto;
    border: 1px solid lightgray;
}
.container {
    position: relative;
    
}

.text-block {
   
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    float: left;

    /*putting a text block over image by setting the block to the center*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    /*set up the width to be equal with the image*/
    width: 180px;
    height: 20px;
    text-align: center;
    padding: 15px 0;

}
.portfolio {
    background: #ffffff;
    color: #4aaaa5;
    justify-content: center;
    font-size: 35px;
    height: 40px;
    padding: 20px 25px;
}


    
  

.row1 {
    background: #ffffff;
    display:flex;
    justify-content: space-around;
    margin: 20px;
}

.row2 {
    background:#ffffff;
    display:flex;
    margin: 20px;

}

.row3 {
    background: #ffffff;
    width: 180px;
    display:flex;
    margin: 0 70px;
}

#img {
    margin: 0;
}


footer {
    background:grey;
    border-top: 1px solid lightskyblue;

    text-align: center;
    padding: 20px;
    width:100%;

}

.textoverimage {
    width: 180px;
    height: 180px;
    position: relative;

    /*Make the image pop out when you hover your mouse over*/
    background-size:center;
}
.textoverimage:hover {
     /*Make the image pop out when you hover your mouse over*/
    background-size: 110%;
}

.textoverimage:after {
    position: absolute;
    background: blue;
    color: white;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    content:attr (data-text);
}


}