


body {
    font-family: Arial, Helvetica, sans-serif;
}

header {

    /*control what happen to the content that is too big to fit into the area*/ 
    
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    border-bottom: 3px solid darkgray;

}

.table {
    width: 500px;
    margin: auto;
    background:lightgray;
}






.aboutme {
    color: darkgray;
    width:fit-content;
    font-size:25px;
    margin: 40px 20px 40px 135px;
}

.contact {
    color: darkgray;
    width:fit-content;
    font-size:25px;
    margin: 40px 20px 40px 250px;
}



footer {
    
    border-top: 3px solid darkgray;
    margin: 150px 0 0 0;
    text-align: center;
    padding: 20px;
    position: sticky;

}




